/* This CSS is done by sek heng */
.arrowButton
{
	background-color: #333333;
}
.slideShowLeftButton
{
	position:relative;
	margin-left:13%;
}
.slideShowRightButton
{
	position:relative;
	margin-right:10%;
}