*{
	margin:0;
}

#header
{
	min-height:200px;
	background-color:#666699;
	background-image: url('Images/Header Bar.jpg');
    background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
}
#menu
{
	min-height:40px;
	background-color:#999999;
}
#body
{
	min-height:400px;
	margin-top:3%;
	background-color: #efefef;
}
#about
{
	min-height:400px;
	margin-top:3%;
	background-color: #efefef;
}
#footer
{
	min-height:100px;
	margin-top:3%;
	color:white;
	background-color:#666699;
}
#header, #menu, #body, #about, #footer
{
	margin-left:10%;
	margin-right:10%;
	
	box-shadow:3px 5px 7px #666666;
	border:1px solid black;
	
}
#menu, #body
{
	background-image: url('Images/Website Background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	
}
@viewport
{
	zoom:1.0;
	width:extend-to-zoom;
}
@-ms-viewport
{
	width:extend-to-zoom;
	zoom:1.0;
}
.screenshot1
{
	display:inline-block;
	margin-left:4%;
	width: 400px;
	height:710px;
	background-image:url('Images/mapImage.jpeg');
	background-repeat:no-repeat;
	border-style: solid;
    border-width: 5px;
	
}
.screenshot2
{
	display:inline-block;
	margin-left:4%;
	width: 400px;
	height:710px;
	background-image:url('Images/battleImage.jpg');
	background-repeat:no-repeat;
	border-style: solid;
    border-width: 5px;
	
}
.screenshot3
{
	display:inline-block;
	margin-left:4%;
	width: 400px;
	height:710px;
	background-image:url('Images/rewardwheelImage.jpg');
	background-repeat:no-repeat;
	border-style: solid;
    border-width: 5px;
}
.GooglePlay
{
	
	display:block;
	margin:0 auto;
	width: 300px;
	height:89px;
	background-image:url('Images/Google Play Icon 300x89.png');
	background-repeat:no-repeat;
	
}
.FB
{
	display:inline-block;
	margin-left:2%;
	width: 100px;
	height: 100px;
	background-image:url('Images/FB Icon 100x100.png');
	background-repeat:no-repeat;
}
.Instagram
{
	display:inline-block;
	margin-left:2%;
	width: 100px;
	height: 100px;
	background-image:url('Images/Insta Icon 100x100.png');
	background-repeat:no-repeat;
}
