*{
	margin:0;
}
html
{
	min-height:100%;
}
.background
{
	position:absolute;
	background-image: url('Images/Background 1920x2962.jpg');
	background-repeat:no-repeat;
	width:100%;
	height:290vh;
	z-index:-100;
}
.background a
{
	position:absolute;
	right:0%;
	left:0%;
	top:98%;
	text-align:center;
}
a
{
	position:absolute;
	left:850px;
	top:2800px;
}
p
{
	position:absolute;
	left:600px;
	top:2700px;
}
p1
{
	position:absolute;
	left:700px;
	top:1600px;
}
p2
{
	position:absolute;
	left:700px;
	top:1620px;
}
p3
{
	position:absolute;
	left:700px;
	top:1640px;
}
p4
{
	position:absolute;
	left:700px;
	top:1660px;
}
.Title
{
	position:absolute;
	left:600px;
	top:40px;
	width: 600px;
	height:100px;
	background-image:url('Images/NYP Logo 512x120.png');
	background-repeat:no-repeat;
}
.FeatureWindow
{
	position:absolute;
	left:0px;
	top:300px;
	width: 1900px;
	height:1100px;
	background-image:url('Images/Feature Window 1565x886(2).png');
	background-repeat:no-repeat;
}

.GooglePlay
{
	position:absolute;
	left:650px;
	top:1900px;
	width: 565px;
	height:165px;
	background-image:url('Images/Google Play Icon 646x250.png');
	background-repeat:no-repeat;
}
.FB
{
	position:absolute;
	left:1700px;
	top:100px;
	width: 100px;
	height: 100px;
	background-image:url('Images/FB Icon 100x100.png');
	background-repeat:no-repeat;
}
.Instagram
{
	position:absolute;
	left:1550px;
	top:100px;
	width: 100px;
	height: 100px;
	background-image:url('Images/Insta Icon 100x100.png');
	background-repeat:no-repeat;
}
